<div class="widget-box">
    <div class="widget-header header-color-grey">
        <h5>Attributes</h5>
    </div>
    <div class="widget-body">
    	<div class="widget-main">
        <table class="table table-striped table-bordered attribute-table">
        	<thead>
            	<tr>
                	<th>Name</th>
                	<th>Value</th>
                	<th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each field}}
            	<tr>
                	<td>{{name}}</td>
                	<td>{{value}}</td>
                    <td>&nbsp;</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <button type="button" class="btn-default add-attribute">Add Attribute</button> 
        </div>
    </div>
</div>