<div class="widget-box panel-primary">
    <div class="widget-header header-color-green2">
        <h5>Publish</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main">
        <div>
            <h6>Status</h6>
            <div>
            	{{{block 'field/select' 'status' 'draft|review|publish' post.status}}}
            </div>
        </div>
        <div>
            <h6>Visibility</h6>
            <div>{{visibility}} 
            	{{{block 'field/select' 'visibility' 'public|private' post.visibility}}}
            </div>
        </div>
        <div>
            <h6>Publish Date {{update}}</h6>
            {{{block 'field/date' 'published' post.published}}}
        </div>
        <hr />
        {{#block 'field/button' 'class="btn-success"'}}
            <i class="icon-ok bigger-110"></i>
            {{#when ../mode '==' 'update'}} Update {{/when}}
            {{#when ../mode '==' 'create'}} Save {{/when}}
        {{/block}}
        
        {{#when mode '==' 'update'}}
            <a class="btn-danger btn btn-default" href="/post/remove/{{id}}">
            <i class="icon-trash"></i> Trash</a>
        {{/when}}
        
        {{#when mode '==' 'create'}}
            <a class="btn-danger btn btn-default" href="/post">
            <i class="icon-minus"></i> Cancel</a>
        {{/when}}
        </div>
    </div>
</div>