<div class="widget-box">
	<div class="widget-header header-color-grey">
        <h5>Category</h5>
    </div>

    <div class="widget-body">
    	<div class="widget-main">
	    	<form method="post" class="package-category-form form-horizontal">
			    {{#block 'form/fieldset' 'Name <span>*</span>' errors.name.message}}
			        {{{block 'field/text' 'name' ../category.name 'placeholder="Category name"'}}}
			    {{/block}}

			    {{#block 'form/fieldset' 'Slug <span>*</span>' errors.slug.message}}
			        {{{block 'field/text' 'slug' ../category.slug 'placeholder="Category slug"'}}}
			    {{/block}}

			    {{#block 'form/fieldset' 'Detail <span>*</span>' errors.detail.message}}
			        {{{block 'field/text' 'detail' ../category.detail 'placeholder="Category details"'}}}
			    {{/block}}

			    <div class="clearfix form-actions">
					<div class="col-md-12">
					    {{#block 'field/button' 'class="btn-primary"'}}
					    	<i class="icon-ok bigger-110"></i>
					    	{{#when ../mode '==' 'update'}} Update {{/when}}
					    	{{#when ../mode '==' 'create'}} Save {{/when}}
					    {{/block}}
					</div>
				</div>
			</form>
		</div>
    </div>
</div>
