<section class="category-info {{#when mode '==' 'update'}}category-update{{/when}} row">
    <div class="col-sm-12">
        <div class="tabbable">
        	{{#when mode '==' 'update'}}
            <ul class="nav nav-tabs padding-16">
            </ul>
            {{/when}}
            <div class="tab-content category-info-tab-content">
	            <form method="post" class="package-category-form form-horizontal">
			    {{#block 'form/fieldset' 'Name <span class="red">*</span>' errors.name.message}}
			        {{{block 'field/text' 'name' ../category.name 'placeholder="Category Name"'}}}
			    {{/block}}

			    {{#block 'form/fieldset' 'Slug <span class="red">*</span>' errors.slug.message}}
			        {{{block 'field/text' 'slug' ../category.slug 'placeholder="Category Slug"'}}}
			    {{/block}}

			    {{#block 'form/fieldset' 'Type <span class="red">*</span>' errors.type.message}}
			        {{{block 'field/text' 'type' ../category.type 'placeholder="Category Type"'}}}
			    {{/block}}

			    {{#when parent '!=' '0'}}
			    <input type="hidden" name="parent" value="{{parent}}" />
			    {{/when}}

			    {{#when parent '==' '0'}}
			    <input type="hidden" name="parent" value="0" />
			    {{/when}}

			    <div class="clearfix form-actions">
					<div class="col-md-12">
					    {{#block 'field/button' 'class="btn-primary"'}}
					    	<i class="icon-ok bigger-110"></i>
					    	{{#when ../mode '==' 'update'}} Update {{/when}}
					    	{{#when ../mode '==' 'create'}} Save {{/when}}
					    {{/block}}
					</div>
				</div>
			</form>
            </div>
        </div>
    </div>
</section>