<section class="address-list">
    <!-- START: BULK FORM -->
    <form action="/address/bulk" method="post" class="form-inline bulk-form">
        <!-- END: i18n HEADER TITLE -->
        <div class="table-responsive">
            <div class="dataTables_wrapper table-filters" role="grid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- START: ADD NEW address -->
                        <div class="pull-right create"><a class="btn btn-info btn-sm" 
                        href="#user/address/create">Create New Address</a></div>
                        <!-- END: ADD NEW address -->
                    </div>
                </div>
            </div> 
            
            {{#if rows}}
            <!-- START: address TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input class="checkall" type="checkbox" /></th>
                        <th>Action</th>
                        <th>ID</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Country</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                    <tr data-id="{{id}}">
                        <td><input name="id[]" value="{{id}}" type="checkbox" class="form-control" /></td>
                        <td>
                            {{#if active}}
                            <a title="Edit" href="/address/update/{{id}}">
                            <i class="icon-edit"></i></a> &nbsp; 
                            <a title="Remove" href="/address/remove/{{id}}"
                            class="text-danger remove">
                            <i class="icon-remove" value="{{id}}"></i></a>
                            {{else}}
                            <a title="Restore" href="/address/restore/{{id}}" class="text-success restore">
                            <i class="icon-external-link"></i></a>
                            {{/if}}
                        </td>
                        <td>{{id}}</td>
                        <td>{{street}}</td>
                        <td>{{city}}</td>
                        <td>{{province}}</td>
                        <td>{{country}}</td>
                    	<td>{{created}}</td>
                        <td valign="middle">{{updated}}</td>
                    </tr>	
                    {{/each}}
                </tbody>	
            </table>
            <!-- END: POST TABLE -->
            {{else}}
            <!-- START: NO RESULTS -->
            <div class="well no-results">No Address Found</div>
            <!-- END: NO RESULTS -->
            {{/if}}
        </div>
        
        {{#when mode '==' 'all'}}
        <ul class="pagination">
            {{#pagination all range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
        
        {{#when mode '==' 'active'}}
        <ul class="pagination">
            {{#pagination active range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
        
        {{#when mode '==' 'trash'}}
        <ul class="pagination">
            {{#pagination trash range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
    </form>
</section>