.eve-field-file { height: auto; }
.eve-field-file input { display: none; }

.eve-field-file-list { 
	background: #FFFFFF; 
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 14px;
	min-height: 22px;
}
.eve-field-file-list .eve-field-file-item { 
	float: left; 
	height: 15px;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 3px;
}

.eve-field-file-list .eve-field-file-item em { font-size: 10px; }

.eve-field-file-list .eve-field-file-label { 
	float: left; 
	font-weight: normal;
}
.eve-field-file-list .eve-field-file-remove { 
	cursor: pointer;
	color: #DF0000;
	font-weight: bold;
	float: left; 
	margin: 0 5px;	
}