<section class="sample-info{{#when mode '==' 'update'}} sample-update{{/when}} row">
	<div class="col-sm-12">
		<div class="tabbable">
			{{#when mode '==' 'update'}}
			<ul class="nav nav-tabs padding-16">
			</ul>
			{{/when}}
			<div class="tab-content address-info-tab-content">
				<form method="post" class="package-address-form form-horizontal">
					<!-- NOTE: BULK GENERATE -->
					{{#block 'form/fieldset' 'Title' errors.sink_title}}
						{{{block 'field/text' 'sink_title' ../sink.sink_title 'placeholder="Enter Sink Title"'}}}
					{{/block}}
                    
					{{#block 'form/fieldset' 'Slug' errors.sink_slug}}
						{{{block 'field/text' 'sink_slug' ../sink.sink_slug 'placeholder="Enter Sink Slug"'}}}
					{{/block}}
					
					{{#block 'form/fieldset' 'Detail' errors.sink_detail}}
						{{#block 'field/textarea' 'sink_detail' 'placeholder="Enter Sink Detail"'}}{{{../../sink.sink_detail}}}{{/block}}
					{{/block}}
					
					<div class="clearfix form-actions">
						<div class="col-md-12">
							{{#block 'field/button' 'class="btn-primary"'}}
								<i class="icon-ok bigger-110"></i>
                                {{#when ../mode '==' 'update'}} Update {{/when}}
								{{#when ../mode '==' 'create'}} Save {{/when}}
							{{/block}}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>