<footer class="red">
    <div class="container">
        <span class="item contact">
            <span class="label">Contact Us:</span>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-phone"></i></a>
        </span>
        <span class="item phone">
            <span class="label"><i class="fa fa-phone"></i></span>
            <ul>
                <li>(Metro Manila) 8585-999</li>
                <li>(Provincial) 1-800-10-8585-999</li>
                <li>(Business Solutions) 9066-522</li>
            </ul>
        </span>
        <span class="item download">
            <span class="label">Download the app:</span>
            <a href="#"><i class="fa fa-android"></i></a>
            <a href="#"><i class="fa fa-apple"></i></a>
        </span>
        
        <span class="item follow">
            <span class="label">Follow Us:</span>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </span>
    </div>
</footer>
<footer class="orange">
    <div class="container">
        <span class="copy">&copy; 2012-2013 LBC Express, Inc.</span>
        <span class="sitemap">
            <a href="#">About Us</a>
            | <a href="#">Careers</a>
            | <a href="#">Investor Relations</a>
            | <a href="#">Privacy Statement</a>
            | <a href="#">Terms of Use</a>
            | <a href="#">Links</a>
        </span>
    </div>
</footer>