<div class="navbar navbar-default" id="navbar">
	<div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    Eve PMS
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->
        {{#right}}
        <div class="navbar-header pull-right">
        	<ul class="nav ace-nav">
            	{{right}}
        	</ul>
        </div><!-- /.navbar-header -->
        {{/right}}
    </div><!-- /.container -->
</div>