{{{head}}}

<div class="main-container" id="main-container">
    <div class="main-container-inner">
        {{{menu}}}
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs"></div>
            
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <span id="header-title"></span>
                        <small>
                            <i class="icon-double-angle-right"></i>
                            <span id="subheader-title"></span>
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                
                <div class="row">
                    <div class="col-xs-12">
                    	<!-- START: ALERT MESSAGE -->
                    	<div id="messages"></div>
                    	<!-- END: ALERT MESSAGE -->
                        
                        <!-- START: PAGE CONTENT -->
                        <div id="body"></div>
                        <!-- END: PAGE CONTENT -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

{{{foot}}}