<!--START: Social Form-->
<h4 class="header blue bolder smaller">Social</h4>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="facebook">Facebook</label>
    <div class="col-sm-8"> <span class="input-icon">
        <input type="text" placeholder="facebook_alexdoe" name="facebook" value="{{user.facebook}}" />
        <i class="icon-facebook blue"></i> </span> 
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="twitter">Twitter</label>
    <div class="col-sm-8"> <span class="input-icon">
        <input type="text" placeholder="twitter_alexdoe" name="twitter" value="{{user.twitter}}" />
        <i class="icon-twitter light-blue"></i> </span> 
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="google">Google</label>
    <div class="col-sm-8">
        <span class="input-icon">
            <input type="text" placeholder="google_alexdoe" name="google" value="{{user.google}}" />
            <i class="icon-google-plus red"></i>
        </span>
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="linkedin">LinkedIn</label>
    <div class="col-sm-8">
        <span class="input-icon">
            <input type="text" placeholder="linkedin_alexdoe" name="linkedin" value="{{user.linkedin}}" />
            <i class="icon-linkedin blue"></i>
        </span>
    </div>
</div>
<!--END: Social Form-->