<aside class="col col-md-3 widget-container-span post-user-widget">
	<div class="widget-box panel-primary">
		<div class="widget-header header-color-grey">
			<h5>Author</h5>
		</div>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<select class="chosen post-user-chosen chosen-select tag-input-style col-lg-9" data-placeholder=" ">
				<option value=""></option>
				{{#each users}}
					<option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
				{{/each}}
			</select>
		</div>
	</div>
</aside>