<li class="purple nav-notification">
	<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
		<i class="icon-bell-alt icon-animated-bell"></i>
		<span class="badge badge-important total-notif-badge"></span>
	</a>

	<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
		<li class="dropdown-header">
			<i class="icon-warning-sign"></i>
			<span class="total-notifications">0 Notifications</span>
		</li>
		<li>
			<a href="#">
				See all notifications
				<i class="icon-arrow-right"></i>
			</a>
		</li>
	</ul>
</li>