<section class="post-list">    
    <!-- START: BULK FORM -->
    <form action="/post/bulk" method="post" class="form-inline bulk-form">
        <div class="table-responsive">
            <div class="dataTables_wrapper table-filters" role="grid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- START: ADD NEW POST -->
                        <div class="pull-right create"><a class="btn btn-info btn-sm" 
                        href="/post/create">Create New Post</a></div>
                        <!-- END: ADD NEW POST -->
                    </div>
                </div>
            </div> 
            {{#if rows}}
            <!-- START: POST TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input class="checkall" type="checkbox" /></th>
                        <th>Action</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                    <tr data-id="{{_id}}">
                        <td><input name="_id[]" value="{{_id}}" type="checkbox" class="form-control" /></td>
                        <td>
                            {{#if active}}
                            <a title="Edit" href="/post/update/{{_id}}">
                            <i class="icon-edit"></i></a> &nbsp; 
                            <a title="Remove" href="/post/remove/{{_id}}"
                            class="text-danger remove"><i class="icon-remove" value="{{_id}}"></i></a>
                            {{else}}
                            <a title="Restore" href="/post/restore/{{_id}}" class="text-success restore">
                            <i class="icon-external-link"></i></a>
                            {{/if}}
                        </td>
                        <td>{{_id}}</td>
                        <td>{{title}}</td>
                    	<td>{{status}}</td>
                        <td valign="middle">{{updated}}</td>
                    </tr>	
                    {{/each}}
                </tbody>	
            </table>
            <!-- END: POST TABLE -->
            {{else}}
            <!-- START: NO RESULTS -->
            <div class="well no-results">No Posts Found</div>
            <!-- END: NO RESULTS -->
            {{/if}}
        </div>
        
        {{#when mode '==' 'all'}}
        <ul class="pagination">
            {{#pagination all range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
        
        {{#when mode '==' 'published'}}
        <ul class="pagination">
            {{#pagination published range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
        
        {{#when mode '==' 'review'}}
        <ul class="pagination">
            {{#pagination review range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
        
        {{#when mode '==' 'draft'}}
        <ul class="pagination">
            {{#pagination draft range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
        
        {{#when mode '==' 'trash'}}
        <ul class="pagination">
            {{#pagination trash range}}
            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
            {{/pagination}}
        </ul>
        {{/when}}
    </form>
</section>