<section class="user-profile row">
    <div class="col-sm-12">
        <div class="tabbable">
            {{#when mode '==' 'update'}}
            <ul class="nav nav-tabs padding-16">
                {{{tabs}}}
            </ul>
            {{/when}}
            <div class="tab-content profile-edit-tab-content">
                <div class="tab-pane active">
                    <form class="package-user-form form-horizontal " method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                {{{picture}}}
                                <div class="space-4"></div>
                                {{{basic}}}
                                <div class="space-4"></div>
                                {{{contact}}}
                                <div class="space-4"></div>
                                {{{social}}}
                            </div>
                            <div class="vspace-xs"></div>
                            <div class="col-xs-12 col-sm-8">
                                {{{required}}}
                                <div class="space-4"></div>
                                {{{company}}}
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-12">
                                {{#block 'field/button' 'class="btn-primary"'}}
                                	<i class="icon-ok bigger-110"></i>
                                	{{#when ../mode '==' 'update'}} Update {{/when}}
                                	{{#when ../mode '==' 'create'}} Save {{/when}}
                                {{/block}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
