<section class="user-address user-update row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-16">
            </ul>
            <div class="tab-content user-address-tab-content">
	            <form method="post" class="package-category-form form-horizontal">
				    {{#block 'form/fieldset' 'Label <span>*</span>' errors.label.message}}
			        	{{{block 'field/text' 'label' ../address.label 'placeholder="Label"'}}}
			    	{{/block}}

				    {{#block 'form/fieldset' 'Contact Name <span>*</span>' errors.contact_name.message}}
				        {{{block 'field/text' 'contact_name' ../address.contact_name 'placeholder="Contact Name"'}}}
				    {{/block}}

				    {{#block 'form/fieldset' 'Street <span>*</span>' errors.street.message}}
				        {{{block 'field/text' 'street' ../address.street 'placeholder="Street"'}}}
				    {{/block}}

				    {{#block 'form/fieldset' 'City <span>*</span>' errors.city.message}}
				        {{{block 'field/text' 'city' ../address.city 'placeholder="City"'}}}
				    {{/block}}

				    {{#block 'form/fieldset' 'State <span>*</span>' errors.state.message}}
				        {{{block 'field/text' 'state' ../address.state 'placeholder="State"'}}}
				    {{/block}}

				    {{#block 'form/fieldset' 'Country <span>*</span>' errors.country.message}}
				        {{{block 'field/country' 'country' 'company[country]' address.country}}}
				    {{/block}}

				    {{#block 'form/fieldset' 'Postal Code <span>*</span>' errors.postal.message}}
				        {{{block 'field/text' 'postal' ../address.postal 'placeholder="Postal Code"'}}}
				    {{/block}}

				    {{#block 'form/fieldset' 'Phone Number <span>*</span>' errors.phone.message}}
				        {{{block 'field/text' 'phone' ../address.phone 'placeholder="Phone Number"'}}}
				    {{/block}}

				    <input type="hidden" name="users[][_id]" value="{{id}}" />
				    <div class="clearfix form-actions">
						<div class="col-md-12">
						    {{#block 'field/button' 'class="btn-primary"'}}
						    	<i class="icon-ok bigger-110"></i>
						    	{{#when ../mode '==' 'update'}} Update {{/when}}
						    	{{#when ../mode '==' 'create'}} Save {{/when}}
						    {{/block}}
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</section>
