<section class="user-address user-update row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-16">
            </ul>
            <div class="tab-content address-edit-tab-content">
			    <!-- START: BULK FORM -->
			    <form action="/address/bulk" method="post" class="form-inline bulk-form">
			        <!-- END: i18n HEADER TITLE -->
			        <div class="table-responsive">
			            <div class="dataTables_wrapper table-filters" role="grid">
			                <div class="row">
			                    <div class="col-sm-12">
			                        <!-- START: ADD NEW address -->
			                        <div class="pull-right create"><a class="btn btn-info btn-sm" 
			                        href="/user/address/create/{{id}}">Create New Address</a></div>
			                        <!-- END: ADD NEW address -->
			                    </div>
			                </div>
			            </div> 
			            {{#if rows}}
			            <!-- START: address TABLE -->
			            <table class="table table-striped">
			                <thead>
			                    <tr>
			                        <th>Action</th>
			                        <th>Label</th>
			                        <th>Contact Name</th>
			                        <th>City</th>
			                        <th>Country</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    {{#each rows}}
			                    <tr data-id="{{id}}">
			                        <td align="center">
			                            {{#if active}}
			                            <a title="Edit" href="/user/address/update/{{id}}/{{user._id}}">
			                            <i class="icon-edit"></i></a> &nbsp; 
			                            <a title="Remove" href="/user/address/remove/{{id}}"
			                            class="text-danger remove">
			                            <i class="icon-remove" value="{{id}}"></i></a>
			                            {{/if}}
			                        </td>
			                        <td>{{label}}</td>
			                        <td>{{contact_name}}</td>
			                        <td>{{city}}</td>
			                        <td>{{country}}</td>
			                    </tr>	
			                    {{/each}}
			                </tbody>	
			            </table>
			            <!-- END: POST TABLE -->
			            {{else}}
			            <!-- START: NO RESULTS -->
			            <div class="well no-results">No Address Found</div>
			            <!-- END: NO RESULTS -->
			            {{/if}}
			        </div>
			        
			        <ul class="pagination">
			            {{#pagination active range}}
			            <li{{#if active}} class="active"{{/if}}><a href="?{{query}}">{{page}}</a></li>
			            {{/pagination}}
			        </ul>
			    </form>
            </div>
        </div>
    </div>
</section>
