{{#block 'field/text' 'someone' 'somevalue'}}placeholder="This is some placeholder"{{/block}}
{{#block 'field/text' 'someone' 'somevalue'}}placeholder="This is some placeholder"{{/block}}
{{#block 'field/text' 'someone' 'somevalue'}}placeholder="This is some placeholder"{{/block}}
{{#block 'field/password' 'someone' 'somevalue'}}placeholder="This is some placeholder"{{/block}}


{{{block 'field/select' 'labels' list '2'}}}



{{#block 'field/country' 'country' 'PH'}}class="yay"{{/block}}

{{#block 'field/mask' 'someone' '99-999-a-**-999'}}placeholder="99-999-a-a1-321"{{/block}}


