#body .search .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
#body .search .btn { padding: 2px 12px; margin-right: 2px; }
#body .no-results { margin-top: 10px; }
#body input[type=checkbox] { height: auto; }
#body .bulk-form { clear: right; padding-top: 10px; }
#body table h5 { margin-top: 0; }
#body table th:first-child{ text-align: center; }